n8n-workflow-export.json
{
  "name": "NYRA Google Calendar Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "nyra-calendar-agent"
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": "primary",
        "start": "={{ $json.startISO }}",
        "end": "={{ $json.endISO }}",
        "summary": "={{ $json.summary }}",
        "useDefaultReminders": false,
        "reminders": {
          "useDefault": false,
          "overrides": [
            {
              "method": "popup",
              "minutes": 30
            }
          ]
        }
      },
      "id": "google-calendar-create",
      "name": "Create an event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-oauth2",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "responseBody": "={{ { \"ok\": true, \"eventLink\": $node[\"Create an event\"].json[\"htmlLink\"] } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["NYRA", "Calendar", "Google"],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1.0.0"
}
